<div class="row event">
    <div class="col-xs-10">
        <a href="/profile/{{ talk.author }}"><span>@</span><span>{{ talk.author }}</span></a>
        <span>posted</span>
        <a href="/talk/{{ talk.slug }}">{{ talk.title }}</a>
        <br>
        <span class="created">August 16th 2016, 3:36:19 am</span>
    </div>
    <div class="col-xs-2">
        <a href="/profile/josgilmo"><img src="" title="@{{ talk.author }}" style="width: 32px" class="responsive img-circle"></a>
    </div>
</div>
