<div class="row talk">
    <div class="col-xs-2 thumb">
        <a href="/talk/play/{{ talk.slug }}">
            {% if talk.type == "youtube" %}
            <img src="http://img.youtube.com/vi/{{ talk.code }}/mqdefault.jpg" title="{{ talk.title }}" class="img-responsive img-circle thumbnail">
            {% else %}
            <img src="{{ talk.thumbnail }}" title="{{ talk.title }}" class="img-responsive img-circle thumbnail">
            {% endif %}
        </a>
    </div>
    <div class="col-xs-9 content">
        <h3 class="title">
            <a href="/talk/{{ talk.slug }}">{{ talk.title }}</a>
        </h3>
        <p class="description">{{ talk.description|safe }}</p>
        <div class="tags">
            {% for tag in talk.tags.all %}
                <a href="/tag/{{ tag.slug }}" class="label label-default tag">{{ tag.name }}</a>
            {%  endfor %}
        </div>
    </div>
    <div class="col-xs-1">
        <div class="info">
            <div class="row votes">
                {% load talk_extras %}
                {% if not user %}
                    <a href="#votemodal" rel="modal:open" class="btn btn-primary">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                        <div class="counter">{{ talk.votes.count}}</div>
                    </a>
                {% else %}
                    <button data-id="{{talk.id}}" class="btn btn-primary upvote"
                        {% if talk|has_voted:user.id %}
                            disabled="true"
                        {% endif %}>
                        <i class="glyphicon glyphicon-chevron-up"></i>
                        <div class="counter">{{ talk.votes.count }}</div>
                    </button>
                {% endif %}
            </div>
            <div class="row stats">
                <div class="col-xs-6 comments">
                    <a href="/talk/{{ talk.slug }}"><i class="fa fa-comments"></i></a>
                </div>
                <div class="col-xs-6 favorites">
                    {% if not user %}
                        <a href="#votemodal" rel="modal:open"><div class="heart"><i class="fa fa-heart"></i></div></a>
                    {% else %}
                        <a href="javascript:false;" data-id="{{talk.id}}" class="favorite">
                            <i class="fa fa-heart {% if talk|has_favorited:user.id %}red{% endif %}"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
