<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-xs-12"><h1>Contact Us</h1>
            <hr>
            <p>Something is not working fine? Do you think you've found a bug? Please<span> </span><a
                    href="https://github.com/tlksio/front/issues">file an issue</a><span> </span><span>on our GitHub project!</span>
            </p></div>
    </div>
</div>

{% include "partials/footer.html" %}
{% include "partials/js.html" %}
</body>
</html>