<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container latest-talks">
    <div class="row">
        <div class="col-xs-12 talk-list">
            <h2>Latest talks</h2>
            <hr>
            {% for talk in latest %}
                {{ talk.title }}
                <hr>
            {% endfor %}
            <div class="row">
                <div class="col-xs-3"><a href="/latest">View more...</a></div>
                <div class="col-xs-9"></div>
            </div>
            <hr>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}
{% include "partials/js.html" %}
</body>
</html>