{% extends "layouts/default.html" %}
{% block title %}Latest published talks on vtalks.net{% endblock %}
{% block content %}
<div class="container latest-talks">
    <div class="row">
        <div class="col-xs-12 talk-list">
            <h2>Latest talks</h2>
            <hr>
            {% for talk in latest %}
                {% include "partials/talk_list_item.html" %}
                <hr>
            {% endfor %}
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% if latest.has_previous %}
                    <a href="{% url 'latest_page' latest.previous_page_number %}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ latest.number }} of {{ latest.paginator.num_pages }}.
                    </span>

                    {% if latest.has_next %}
                    <a href="{% url 'latest_page' latest.next_page_number %}">next</a>
                    {% endif %}
                </span>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}
