<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container popular-talks">
    <div class="row">
        <div class="col-xs-12 talk-list">
            <h2>Popular talks</h2>
            <hr>
            {% for talk in popular %}
                {% include "partials/talk_list_item.html" %}
                <hr>
            {% endfor %}
            <hr>
            <div class="pagination">
                <span class="step-links">
                    {% if popular.has_previous %}
                    <a href="{% url 'popular_page' popular.previous_page_number %}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ popular.number }} of {{ popular.paginator.num_pages }}.
                    </span>

                    {% if popular.has_next %}
                    <a href="{% url 'popular_page' popular.next_page_number %}">next</a>
                    {% endif %}
                </span>
            </div>
            <hr>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}
{% include "partials/js.html" %}
</body>
</html>
