<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container latest-talks">
    <div class="row">
        <div class="col-xs-12 talk-list">
            <h2>Talks tagged as: {{ tag }}</h2>
            <hr>
            {% for talk in items %}
                {% include "partials/talk_list_item.html" %}
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% include "partials/footer.html" %}
{% include "partials/js.html" %}
</body>
</html>