<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.html" %}
</head>
<body>

{% include "partials/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 talk-view">
            <h2>{{ talk.title }}</h2>
            <hr>
            <div class="row">
                <div class="col-xs-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube.com/embed/{{ talk.code }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-4 votes">
                            <button type="button" data-toggle="modal" data-target=".voteAnon" class="btn btn-primary js-vote-anon">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                                <div itemprop="ratingCount" class="counter">{{ talk.vote_count }}</div>
                            </button>
                        </div>
                        <div class="col-xs-8 stats">
                            <div class="comments"><i class="fa fa-play"></i><span>{{ talk.view_count}} Plays</span></div>
                            <div class="favorites"><i class="fa fa-heart"></i><span>{{ talk.fav_count }}  Favorites</span></div>
                        </div>
                    </div>
                    <hr>
                    <a href="{% url 'profile' talk.author %}">
                        <img src="{{talk.author.profile_set.all.0.avatar}}" title="{{talk.author.username}}" class="responsive img-circle" style="width: 32px">
                    </a>
                    <span class="created">{{ talk.created }}</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ talk.description }}</p>
                    <div class="tags">
                        {% for tag in talk.tags.all %}
                            <a href="{% url 'talk' talk.slug %}" class="label label-default tag">{{ tag.name }}</a>
                        {%  endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <ul class="share-buttons">
                <li><a href="#" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="#" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="#" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <li><a href="#" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&amp;u=' + encodeURIComponent(document.URL) + '&amp;t=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
                <li><a href="#" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&amp;description=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                <li><a href="#" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&amp;title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-reddit-square fa-2x"></i></a></li>
                <li><a href="#" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=' + encodeURIComponent(document.URL) + '&amp;title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            </ul>
            <hr>
            <div id="disqus_thread"></div>
            <script>

            /**
            *  TODO
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://tlksio.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
            <hr>
        </div>
    </div>
</div>

{% include "partials/footer.html" %}
{% include "partials/js.html" %}
</body>
</html>
